* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Grid start */

.four_boxes {
    display: flex;
    /* grid-template-columns: 200px 200px; */
    /* grid-template-areas: "one  two"
    " three four" ; */
}

#one {
    background-color: red;
    width: 30rem;
    height: 25rem;
    margin: 1rem;
    grid-area: one;
}

.top_taskbar {
   height: 1.5rem;
   width: 30rem;
   background-color: orange;
}

.top_taskbar2 {
    display: flex;
    gap: .2rem;
    margin-left: 26.5rem;
  
}

.taskbar_symbol {
    background-color: grey;
    padding: 1px;
    margin-top: 2px;
}

/* color palette */
#two {
    background-color: red;
    width: 30rem;
    height: 25rem;
    margin: 1rem;
    grid-area: two;
}

#three {
    background-color: red;
    width: 30rem;
    height: 25rem;
    margin: 1rem;
    grid-area: three;
}

#four {
    background-color: red;
    width: 30rem;
    height: 25rem;
    margin: 1rem;
    grid-area: four;
}


